@font-face {
    font-family: "freemono";
    src: url(/fonts/FreeMono.ttf), format(truetype);
    font-weight: normal;
  }
@font-face {
    font-family: "freemono-oblique";
    src: url(/fonts/FreeMonoOblique.ttf), format(truetype);
    font-weight: normal;
}
@font-face {
    font-family: "freemono-bold";
    src: url(/fonts/FreeMonoBold.ttf), format(truetype);
    font-weight: normal;
  } 
@font-face {
    font-family: "freemono-boldoblique";
    src: url(/fonts/FreeMonoBoldOblique.ttf), format(truetype);
    font-weight: normal;
}

html[data-theme="light"] {
    --bg-primary: #d3bcc0;
    --bg-secondary: #e4e0e1; 
    --fg-primary: #493628;
    --fg-secondary: #95735a; 
    }

  html[data-theme="dark"] {
    --bg-primary: #270722;
    --bg-secondary: #6c4454; 
    --fg-primary: #FFAB2D;
    --fg-secondary: #FFC743;  
  }

/* config for the entire site */
* {
    font-family: "freemono"
}

hr {
  width: 100%;
  max-width: 1200px;
  color: var(--fg-primary);
}

body {
  justify-content: center; 
  align-items: center;
}

a:hover {
  color: var(--fg-secondary);
  text-decoration: underline;
}

.book {
  font-family: "freemono-oblique";
  color: var(--fg-secondary);
}

.clear {
    text-decoration: none;
    color: var(--fg-primary);
}

.sidebar p {
text-align: right;
position: fixed;
width: 250px;
top: 0;
left: 0;
flex-direction: column;
height: 100vh;
display: flex;
}

.content {
  background-color: var(--bg-primary);
  color: var(--fg-primary);
  width: 60%;
  max-width: 1200px;
  justify-content: center;
  overflow-y: auto;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.content h1 {

}

.content h2 {

}

.content h3 {
    color: var(--fg-secondary); 
    font-family: "freemono-oblique";
    font-size: 18;
}

.content h4 {

}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  background: var(--bg-primary);
  padding-right: 15px;
  box-sizing: border-box;
  text-align: right;
}