@font-face {
    font-family: "freemono";
    src: url(../assets/FreeMono.ttf), format(truetype);
    font-weight: normal;
  }
@font-face {
    font-family: "freemono-oblique";
    src: url(../assets/FreeMonoOblique.ttf), format(truetype);
    font-weight: normal;
}
@font-face {
    font-family: "freemono-bold";
    src: url(../assets/FreeMonoBold.ttf), format(truetype);
    font-weight: normal;
  } 
@font-face {
    font-family: "freemono-boldoblique";
    src: url(../assets/FreeMonoBoldOblique.ttf), format(truetype);
    font-weight: normal;
}

#theme_select div:nth-child(1) label {
  background-color: #fff8f3;
}
#theme_select div:nth-child(2) label {
  background-color: #610c3d;
} 

:root {
  --bg-primary: #fff8f3;
  --bg-secondary: #e3e0e1;
  --fg-primary: #594a26;
  --fg-primary: #95735a;
}

html[data-theme="light"] {
    --bg-primary: #fff8f3;
    --bg-secondary: #e4e0e1; 
    --fg-primary: #594a26;
    --fg-secondary: #95735a; 
    /* 560022 */
    } 

  html[data-theme="dark"] {
    --bg-primary: #270722;
    --bg-secondary: #6a5634; 
    --fg-primary: #FFAB2D;
    --fg-secondary: #FFC743;  
  }

/* config for the entire site */
* {
    font-family: "freemono"
}

hr {
  width: 100%;
  max-width: 1200px;
  color: var(--fg-primary);
}

body {
  justify-content: center; 
  align-items: center;
  /* background-color: #fff8f3; */
  background-color: var(--bg-primary);
  color: #594a26;
}

a:hover {
  color: var(--fg-secondary);
  text-decoration: underline;
}

.book {
  font-family: "freemono-oblique";
  color: var(--fg-secondary);
}

.clear {
    text-decoration: none;
    color: var(--fg-primary);
}

.quote {
  color: var(--fg-primary);
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text horizontally within box */
  padding: 1.75rem; /* Optional: Add padding for better spacing */
  font-family: "freemono-oblique";
  font-size: 1rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: var(--bg-primary);
  height: 40px;
  top: 0;
  position: sticky;
}

.navbar-container {
  background-color: var(--bg-primary); 
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 0 40px;
}

.navbar-item {
  text-decoration: none;
  align-items: center;
  color: var(--bg-primary);
  justify-content: center;
  display: flex;
  width: 100%;
}

.sidebar {
  margin-left: 1.75rem;
  flex-direction: column;
  display: flex;
  position: fixed;
  width: 250px;
  text-align: left;
}

.sidebar p {
  height: 5px;
  font-size: 1rem;
}

.sidebar-title h2 {
  font-weight: 400;

}

.content {
  background-color: var(--bg-primary);
  color: var(--fg-primary);
  width: 60%;
  max-width: 1200px;
  justify-content: center;
  overflow-y: auto;
  padding: 0px;
  padding-top: 2.5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
}

.content h3 {
    color: var(--fg-secondary); 
    font-family: "freemono-oblique";
    font-size: 18;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  /* background-color: var(--bg-primary); */
  background-color: #fff8f3;
  padding-right: 15px;
  box-sizing: border-box;
  text-align: right;
  display: inline-block;
}

.theme-toggle-container {
  float: left;
    margin-top: 13px;
    margin-left: 12px;
}

#theme_select div {
  display: flex;
  margin-right: 1rem;
  flex-direction: column;
  align-items: center;
}

#theme_select label {
  width: 25px;
  height: 25px;
  background: purple;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#theme_select {
  display: flex;
  align-items: center;
  width: 90px;
  margin: auto;
}
#theme_select input[type="radio"] {
  display: none;
}

#theme_select label {
  width: 25px;
  height: 25px;
  background: #ccc; /* Default background no one's ever going to see */
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#theme_select input[type="radio"]:checked + label {
  /* outline: 2px solid var(--fg-primary); */
  outline: 2px solid rgba(116, 72, 167, 0.623);
}


@media only screen and (max-width: 422px) {
  .footer {
    text-align: center
  }
  
  .footer * {
    margin-right: auto;
    margin-left: auto;
  }

  .theme-toggle-container {
    margin-top: 12px;
  }
}