@font-face {
  font-family: "monoid";
  src: url(Monoid-Regular.ttf), format(truetype);
  font-weight: normal;
}

@font-face {
  font-family: "monoid-italic";
  src: url(Monoid-Italic.ttf), format(truetype);
  font-weight: normal;
}

@font-face {
  font-family: "monoid-bold";
  src: url(Monoid-Bold.ttf), format(truetype);
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  font-family: "monoid";
  background-color: #ffc47f;
  /* background-color: #340400; */
}

/* These set the color options for the light and dark mode on the site */
.light {
  background-color: purple;
  color: #000000;
}

.dark {
  background-color: #333333;
  color: #ffffff;
}

.container {
  left: 20%; /* Move the container 30% to the right */
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 2.5rem;
  padding-top: 20%; /* Add top padding of 50px */
  max-width: 60%; /* Adjust according to your layout */
  margin: 0 auto; /* Center the container horizontally */
  position: relative; /* Use relative positioning for positioning */
}

.container p {
  color: #560800;
  /* color: #fbf1c7; */

  font-size: 0.75rem;
}

.navbar__quote {
  display: flex;
  height: 40px;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text horizontally within box */
  padding: 1.75rem; /* Optional: Add padding for better spacing */
}

.navbar__quote p {
  font-family: "monoid-italic";
  margin: 0; /* Remove default margin of <p> */
  color: #560800;
  font-size: 0.75rem;
}
.navbar {
  background: #120ba3;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 40px;
  z-index: 1;
  width: 100%;

  padding: 0 60px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.navbar__item {
  align-items: center;
  justify-content: center;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0rem;
  width: 100%;
}

.navbar__links {
  color: #560800;
  display: flex;
  margin: 2.5rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navbar__links:hover {
  color: #fff;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .nav__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: flex;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(59, 18, 18);
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
