@font-face {
  font-family: "monoid";
  src: url(monoid/Monoid-Regular-Small-Dollar-0-1-l.ttf) format ("truetype");
  url: (
      "https://noquake.github.io/kwaagyei/monoid/Monoid-Regular-Small-Dollar-0-1-l.ttf"
    )
    format ("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "monoid-italic";
  src: url(monoid/Monoid-Italic-Small-Dollar-0-1-l.ttf) format ("truetype");
  url: (
      "https://noquake.github.io/kwaagyei/monoid/Monoid-Italic-Small-Dollar-0-1-l.ttf"
    )
    format ("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "monoid-bold";
  src: url(monoid/Monoid-Bold-Small-Dollar-0-1-l.ttf) format("truetype");
  url: (
      "https://noquake.github.io/kwaagyei/monoid/Monoid-Bold-Small-Dollar-0-1-l.ttf"
    )
    format("woff");
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  font-family: "monoid", sans-serif;
  background-color: #fbf1c7;
}

/* These set the color options for the light and dark mode on the site */
.light {
  background-color: purple;
  color: #000000;
}

.dark {
  background-color: #333333;
  color: #ffffff;
}

.navbar {
  background: #120ba3;
  /* background: #fbf1c7; */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  /* z-index: 999; */
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  z-index: 1;
  width: 100%;
  /* max-width: 1300px; */
  margin: 0 auto;
  padding: 0 60px;
}

#navbar__logo {
  background-color: #560800;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  justify-content: center;
}

.navbar__item {
  align-items: center;
  justify-content: center;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0rem;
  width: 100%;
}

.navbar__links {
  color: #560800;
  display: flex;
  margin: 2.5rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navbar__links:hover {
  color: #fff;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .nav__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: flex;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(59, 18, 18);
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
