body {
    background-color: #000;
    color: #fff;
    font-family: monospace;
  }
  
  .terminal {
    width: 100%;
    height: 400px;
    background-color: #b53737;
    overflow: hidden;
    position: relative;
  }
  
  .terminal-header {
    background-color: #4a197e;
    height: 20px;
  }
  
  .terminal-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }


  .terminal-body {
    padding: 90px;
    overflow-y: auto;
    height: calc(100% - 90px);
  }
  
  .terminal-input {  /* this is the entire input line of the terminal itself, should be the same color as the .terminal */
    background-color: #4a197e;
    align-self: last baseline;
    align-items: last baseline;
    padding: 5px;
    display: flex;
  }
  
  .terminal-input span {
    color: #00ff00;
    margin-right: 5px;
  }
  
  .terminal-input input {
    background-color: transparent;
    display: flex;
    align-items: center;
    border: none;
    color: #fff;
    width: 100%;
    outline: none;
  }
  
  .terminal-prompt {
    margin-right: 5px; /* Add a small margin for spacing */
  }
  
  