@font-face {
  font-family: "freemono";
  src: url(/fonts/FreeMono.ttf), format(truetype);
  font-weight: normal;
}

/* Theme styles */
#theme_switch_form div:nth-child(1) label {
  background-color: #d3bcc0;
}
html[data-theme="light"] {
  --bg-primary: #d3bcc0;
  /* --bg-secondary: #e4e0e1; */
  --fg-primary: #493628;
  /* --fg-secondary: #95735a; */
  --link-primary: #320d6d;
  --link-hover: #3a6ea5;
  --table-text: #191715;
}
#theme_switch_form div:nth-child(2) label {
  background-color: #270722;
}
html[data-theme="dark"] {
  --bg-primary: #270722;
  /* --bg-secondary: #6c4454; */
  --fg-primary: #FFAB2D;
  /* --fg-secondary: #FFC743;  */
  --link-primary: #4c5b61;
  --link-hover: #677679;
}
/* #theme_switch_form div:nth-child(3) label {
  background-color: #4f5d75;
} */

* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  font-family: "freemono";
  color: var(--bg-primary);
}

a {
  color: var(--fg-primary);
}

.contact__page__description {
  font-size: 1rem;
  align-self: center;
  text-align: left;
  padding: 3.75rem;
  width: 80%;
  margin-left: 10%;  
  color: var(--bg-primary);
}

.ongoing__page__description {
  font-size: 1rem;
  align-self: center;
  text-align: center;
  padding: 3.75rem;
  width: 80%;
  margin-left: 10%;
  color: var(--bg-primary);
}

.ongoing__time {
  width: 75%;
  float: left;
  font-size: 1.5rem;
  margin-left: 15%;
  border-bottom: 1px;
  color: var(--bg-primary);
  padding-top: 2.5rem;
}

.ongoing__event {
  width: 75%;
  float: left;
  font-size: 1rem;
  margin-left: 15%;
  color: var(--bg-primary);
  padding-top: 1.75rem;
}
.ongoing__book {
  width: 75%;
  float: left;
  font-size: 0.75rem;
  margin-left: 15%;
  color: var(--bg-primary);
  padding-top: 1.75rem;
}

.ongoing__description {
  width: 75%;
  float: left;
  font-size: 0.75rem;
  margin-left: 15%;
  padding-top: 0.75rem;
  color: var(--bg-secondary);
  word-wrap: break-word; /* Legacy property */
  overflow-wrap: break-word; /* Recommended property */
}

.main__container {
  float: left;
  color: var(--bg-primary);
  display: inline;
  padding: 2.5rem;
  max-width: 60%; /* Adjust according to your layout */
  width: 60%;
  top: 30%;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
  position: relative; /* Use relative positioning for positioning */
  align-items: center; /* Center vertically */
  text-align: left; /* Center text horizontally within box */
  justify-content: center; /* Center horizontally */
}

.main__container p {
  font-size: 0.85rem;
}

.navbar__quote {
  color: var(--bg-primary);
  display: flex;
  height: 40px;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text horizontally within box */
  padding: 1.75rem; /* Optional: Add padding for better spacing */
}

.navbar__quote p {
  font-family: "monoid-italic";
  margin: 0; /* Remove default margin of <p> */
  font-size: 0.75rem;
}

.navbar {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--bg-primary);
  position: sticky;
  top: 0;
}

.navbar__container {
  color: var(--bg-primary);
  display: flex;
  justify-content: space-between;
  height: 40px;
  /* z-index: 1; */
  width: 100%;
  padding: 0 60px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  color: var(--bg-primary);
  text-align: center;
  justify-content: center;
  width: 100%;
}

.navbar__item {
  text-decoration: none;
  align-items: center;
  color: var(--bg-primary);
  justify-content: center;
  height: 40px;
  /* z-index: 999; */
  display: flex;
  width: 100%;
}

.network__logo {
  top: 55%;
  left: 59%;
  max-width: 10%;
  /* position: absolute; */
  justify-content: center;
  align-self: center;
}

.navbar__links {
  text-decoration: none; /* color: #560800; */
  display: flex;
  /* margin: 2.5rem; */
  margin: 1rem;
  color: var(--link-primary);
  align-items: center;
  justify-content: center;
}

.navbar__links:hover {
  transition: all 0.3s ease;
  color: var(--link-hover);
  text-decoration: none;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  background: var(--fg-primary);
  padding-right: 20px;
  box-sizing: border-box;
  text-align: right;
}

#theme_switch_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px; /* Adjust the width as needed */
  margin: auto; /* Center form */
}

#theme_switch_form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#theme_switch_form input[type="radio"] {
  display: none;
  outline: 1px solid var(--fg-secondary);
}

#theme_switch_form label {
  width: 25px;
  height: 25px;
  background: #ccc; /* Default background no one's ever going to see */
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#theme_switch_form input[type="radio"]:checked + label {
  outline: 2px solid var(--fg-primary);
}

@media screen and (max-width: 960px) {
  .nav__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: flex;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(59, 18, 18);
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
